/* variables */
:root {
  /* light neutral */
  --color1: hsla(42, 70%, 94%, 1);
  /* dark neutral */
  --color2: hsla(185, 22%, 10%, 1);
}

/* layout 
- bgc and borders are to help with layout. TODO remove when complete
*/
.app-container {
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.app-box {
  background-color: lightblue;
  background-color: var(--color1);
  border: 5px solid var(--color2);
  width: 100%;
}
.app-box #playerSelections,
.app-box #roundResults {
  min-height: 200px;
}
@media screen and (min-width: 700px) {
  .app-container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}

/**********
  elements
***********/

/* remove default settings */
p,
h1,
h2 {
  margin: 0px;
  padding: 0px;
  border: 0;
}

/* section: game controls */
.hidden {
  /* prevent display: flex from overriding display: none */
  display: none !important;
}
#playerSelections,
#roundResults {
  margin: 5%;
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  /* center vertically */
  justify-content: center;
}
.app-container h2 {
  margin-bottom: 1rem;
}
.playerButtonsContainer {
  /* background-color: lightcyan; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.playerButton {
  /* size */
  width: 100px;
  height: 100px;
  /* color */
  background-color: var(--color2);
  color: var(--color1);
  /* text */
  font-size: 1.25rem;
  font-weight: bolder;
  /* style */
  border: none;
}
.playerButton:hover,
.playerButton:focus,
.playerButton:active {
  background-color: var(--color1);
  color: var(--color2);
  border: 3px solid var(--color2);
}

/* TODO section: scoreboard */
